html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table th:hover {
    cursor: pointer;
}

.filter {
    margin: 15px 0;
}

.file-errors {
    margin: 10px 0;
}

.upload-form {
    display: flex;
    max-width: 450px;
    gap: 30px;
}
